<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- <a class="navbar-brand" href="#">Navbar</a> -->
  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
       
        <div class="logo-name" fxFlex="15">
            <div class="image" style="display: flex; justify-content: flex-start;">
              <a class="nav-link" routerLinkActive="Active" routerLink="/display-book">
                <img src=".\assets\education.png" style="height: 35px;" alt="open book"/>
              </a>
                
                <!-- <span class="mat-title" fxHide.xs="true">&nbsp;&nbsp;&nbsp;Bookstore</span
          > -->
        </div>
      </div>

    
        <!-- <li>
            <a href="#"><i class="fa fa-book fa-2x"></i></a> 
        </li> -->
        <li class="nav-item active">
          <a class="nav-link" routerLink="/books">BookStore</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Disabled</a>
        </li> -->
      </ul>
     
      <div class="search-box col-md-5">               
        <form style="margin-left: 10%; margin-right: 10%; width:80%" action="">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <button class="btn btn-light dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Search By</button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="#">ISBN</a>
                      <a class="dropdown-item" href="#">Author</a>
                      <a class="dropdown-item" href="#">Title</a>
                      <div role="separator" class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Featured Books</a>
                    </div>
                </div>
                <input type="text" class="form-control" aria-label="Search input with dropdown button">
                <div class="input-group-append">
                    <button class="btn btn-success" type="button">
                      <i class="fa fa-search fa-lg"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
     
    <a class="nav-link" routerLink="/wishlist">
      <i style="color: white; margin-left: 10px;" class="fa fa-gratipay fa-2x" aria-hidden="true"></i>
      <div style="font-size: 10px;" class="badge bg-warning">{{totalItemWish}}</div>
    </a>
      
    <a class="nav-link" routerLinkActive="Active" routerLink="/cart">
      <i style="color: white;" class="fa fa-shopping-bag  fa-2x" aria-hidden="true"></i>
      <div style="font-size: 10px;" class="badge bg-warning">{{totalItem}}</div>
    </a>  
      <div class="dropdown">
        <i style="color: white;" class="fa fa-user fa-2x" aria-hidden="true">
        </i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div class="dropdown-content pull-right">
          <a routerLink="/login" *ngIf="!isLoggedIn">Login</a>
          <a routerLink="/books" *ngIf="isLoggedIn" (click)="logout()">Logout</a>
          <a routerLink="/register">New User</a>
          <a routerLink="/admin" (click)="isAdminLoggedIn()">Admin</a>
        </div>
      </div>

      <!-- <a class="nav-link" routerLinkActive="Active" routerLink="/cart">
        <i style="color: white;" class="fa fa-user fa-2x" aria-hidden="true">
        </i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </a> -->
        
     

        
        

      
      

    </div>
  </nav>
