<div class="container">
    <div class="card main" style="width: 18rem;">
        <div class="card-body" >
          <h5 class="card-title">Users</h5>
          <h6 class="card-subtitle mb-2 text-muted">Individual User Details</h6>
          <label for="myid"><Strong>Id</Strong></label>
          <p id="myid">{{employees.userId}}</p>
          <label for="myName"><Strong>Name</Strong></label>
          <p id="myName">{{employees.userName}}</p>
          <label for="myEmail"><Strong>Email</Strong></label>
          <p id="myEmail">{{employees.email}}</p>
          <a href="#" class="card-link">Go To Home</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
      </div>
