<div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper"  [ngClass]="status ? 'hide' : 'show'">
      <div class="sidebar-heading" routerLink="/admin" >Admin </div>
      <div class="list-group list-group-flush">
        <a  class="list-group-item list-group-item-action bg-light" routerLink="/admin">Dashboard</a>
        <a  class="list-group-item list-group-item-action bg-light" routerLink="/manage-category">Add Category</a>
        <a  class="list-group-item list-group-item-action bg-light" routerLink="/add-book">Add Book</a>
        <a  class="list-group-item list-group-item-action bg-light" routerLink="/manage-user">Manage User</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Sign out</a>
        <!-- <a href="#" class="list-group-item list-group-item-action bg-light">Status</a> -->
      </div>
    </div>
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">
      <nav class="navbar navbar-default navbar-fixed-top navbar-expand-lg navbar-dark bg-dark">
       
        <div class="container-fluid">
          <button class="btn btn-info" (click)="clickEvent()">More Options</button>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="/admin">Home</a>
              </li>
              
           
            </ul>
          
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form>
          </div>
        </div>
      </nav>
<!-- ADD BOOK CODE STARTS -->
<div class="container" style="max-width: 500px;">
    <h3 class="mb-3 mt-5 text-center">ADD BOOK</h3>
  
    <div class="form-group">
      <input type="number" [(ngModel)]="addbook.BookId" class="form-control" placeholder="Book Id">
    </div>

    <div class="form-group">
        <input type="number" [(ngModel)]="addbook.CategoryId" class="form-control" placeholder="Category Id">
      </div>
  
    <div class="form-group">
      <input type="text" [(ngModel)]="addbook.Title" class="form-control" placeholder="Book Title">
    </div>
    <div class="form-group">
        <input type="number" [(ngModel)]="addbook.ISBN" class="form-control" placeholder="ISBN">
      </div>
      <div class="form-group">
    <input type="date" [(ngModel)]="addbook.PublicationYear" class="form-control" placeholder="Publish year">
      </div>
      <div class="form-group">
        <input type="number" [(ngModel)]="addbook.Price" class="form-control" placeholder="price">
      </div>


    <div class="form-group">
      <input type="text" [(ngModel)]="addbook.Description" class="form-control" placeholder="Description">
    </div>
    <div class="form-group col-md-4">
      <label for="status">Status</label>
      <select id="status" [(ngModel)]="addbook.Status" class="form-control">
       
        <option>visible</option>
        <option>not visible</option>
      </select>
    </div>
    <div class="form-group">
      <input type="number" [(ngModel)]="addbook.Position" class="form-control" placeholder="Position">
    </div>

    <div class="form-group">
      <label for="exampleFormControlFile1">select image</label>
      <input type="file" class="form-control-file" id="exampleFormControlFile1">
    </div>

    <div class="form-group">

<button class="btn btn-success btn-lg btn-block"  (click)="addBook(addbook)" >Add Book</button>
      </div>
</div>

<!-- ADD BOOK CODE ENDS -->

    </div>
    <!-- /#page-content-wrapper -->
  </div>
