<div class="container">
    <div class="card main" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Category</h5>
            <h6 class="card-subtitle mb-2 text-muted">Individual Category Details</h6>
            <label for="myid"><Strong>Id</Strong></label>
            <p id="myid">{{employees.catId}}</p>
            <label for="myName"><Strong>Name</Strong></label>
            <p id="myName">{{employees.catName}}</p>
            <label for="myEmail"><Strong>Description</Strong></label>
            <p id="myEmail">{{employees.description}}</p>
            <a routerLink="/admin" class="card-link">Go To Home</a>
            <!-- <a href="#" class="card-link">Another link</a> -->
        </div>
    </div>
</div>