.title {
    text-align: left;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: capitalize;
    opacity: 1;
    display: inline-block;
    margin-right: 170px;
}

.imgLogo {
    margin-left: 100px;
    width: 31px;
    height: 24px;
    opacity: 1;
    float: left;
}